*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;

}
.circle{
    position: absolute;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: rgb(137, 49, 49);
}